/*Variables*/
/*Mixins*/
/*CSS Beginning*/
@font-face {
  font-family: "Post No Bills Colombo SemiBold";
  src: url(../fonts/postnobillscolombo-semibold.ttf) format("truetype"); }

@font-face {
  font-family: "Post No Bills Colombo Bold";
  src: url(../fonts/postnobillscolombo-bold.ttf) format("truetype"); }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-image: url(../images/body_background.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-family: "Post No Bills Colombo SemiBold";
  color: white;
  text-align: center; }

/*Footer*/
footer {
  background: rgba(39, 38, 41, 0.9);
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  footer p {
    max-width: fit-content;
    font-size: 3vw; }

/*header*/
header {
  background: rgba(39, 38, 41, 0.7);
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 45px; }
  header nav {
    display: flex;
    width: 66.66666vw;
    justify-content: center; }
    header nav ul {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      header nav ul li {
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        justify-content: center; }
        header nav ul li a {
          text-decoration: none;
          font-family: "Post No Bills Colombo Bold";
          color: white;
          font-size: 3.5vw; }

/*Logo*/
.headerFooter__logo {
  display: flex;
  margin-left: 0px; }
  .headerFooter__logo img {
    width: 16.66666vw; }
    .headerFooter__logo img:hover {
      transform: translate(30px) scale(2, 2); }

/*Contact Logos*/
.headerFooter__contactLogos {
  display: flex;
  justify-content: space-between;
  width: 16.6666vw;
  margin-right: 0px; }
  .headerFooter__contactLogos li {
    display: flex; }
    .headerFooter__contactLogos li a {
      display: flex; }
      .headerFooter__contactLogos li a img {
        width: 5.55553vw; }

.headerFooter__contactLogos:hover {
  transform: translate(-35px) scale(2, 2); }

/*Mi Foto*/
.section__myPhoto {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  .section__myPhoto img {
    width: 100px; }
  .section__myPhoto img:hover {
    animation: flip;
    animation-duration: 2s; }

/*About Main*/
.main__about {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  .main__about section {
    display: flex;
    flex-direction: column;
    width: 89vw; }
  .main__about div {
    background-image: radial-gradient(rgba(39, 38, 41, 0.8) 20%, rgba(39, 38, 41, 0.7) 40%, rgba(39, 38, 41, 0.5) 60%, rgba(39, 38, 41, 0.3) 80%);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw; }
  .main__about p {
    margin: 7.5px 10px 7.5px 10px; }

/*Formulario Contact*/
.main__formulario {
  display: flex;
  flex-direction: column;
  width: 89vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .main__formulario textarea {
    width: 90%;
    font-size: 3vw; }
  .main__formulario select {
    width: 10vw;
    font-size: 3vw; }

form label {
  font-family: "Post No Bills Colombo Bold"; }

input {
  font-family: "Post No Bills Colombo SemiBold";
  font-size: 3vw; }

/* Aca comienza el Grid para la pagina Resume*/
#body__fatherGridResume {
  display: grid;
  grid-template-areas: "headerGrid" "mainGrid" "footerGrid";
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 100%;
  align-content: space-between;
  grid-row-gap: 40px;
  margin: 0px; }

.header__resume {
  grid-area: headerGrid; }

.footer__resume {
  grid-area: footerGrid; }

.main__resume {
  display: grid;
  grid-area: mainGrid;
  grid-template-areas: "articleResumeGrid"; }
  .main__resume article {
    display: grid;
    grid-area: articleResumeGrid;
    grid-template-areas: "myImageGrid" "personalInfoGrid" "jobExperienceGrid" "studiesGrid" "skillsGrid";
    grid-template-columns: 100%;
    justify-content: center;
    align-content: center;
    grid-row-gap: 40px; }

.main__imageResume {
  display: grid;
  grid-area: myImageGrid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center; }
  .main__imageResume img {
    width: 100px;
    margin-bottom: 40px; }
  .main__imageResume img:hover {
    animation: flip;
    animation-duration: 2s; }

.main__personalInfoResume {
  display: grid;
  grid-area: personalInfoGrid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-areas: "h1PersonalInfo" "personalInfo"; }
  .main__personalInfoResume h1 {
    grid-area: h1PersonalInfo; }
  .main__personalInfoResume table {
    grid-area: personalInfo;
    width: 89vw;
    font-style: normal;
    border: 1px solid;
    font-size: 3vw; }
    .main__personalInfoResume table th {
      font-family: "Post No Bills Colombo Bold";
      border: 1px solid; }
    .main__personalInfoResume table td {
      border: 1px solid; }

.main__jobExperienceResume {
  display: grid;
  grid-area: jobExperienceGrid;
  justify-content: center;
  align-content: center;
  align-items: start;
  justify-items: center;
  grid-template-areas: " h1JobExperienceResume  h1JobExperienceResume h1JobExperienceResume" "job1ResumeGrid job2ResumeGrid job3ResumeGrid";
  grid-template-columns: 30vw 30vw 30vw;
  grid-column-gap: 1.5vw;
  grid-row-gap: 0px; }
  .main__jobExperienceResume h1 {
    grid-area: h1JobExperienceResume; }
  .main__jobExperienceResume li {
    list-style: none; }
    .main__jobExperienceResume li li {
      list-style: url(../images/star.png);
      list-style-position: inside;
      font-size: 2.5vw;
      width: 95%;
      margin-bottom: 10px; }

.main__jobResume, .main__studyResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: radial-gradient(rgba(39, 38, 41, 0.8) 20%, rgba(39, 38, 41, 0.7) 40%, rgba(39, 38, 41, 0.5) 60%, rgba(39, 38, 41, 0.3) 80%); }

.main__jobResume--job1 {
  grid-area: job1ResumeGrid; }

.main__jobResume--job2 {
  grid-area: job2ResumeGrid; }

.main__jobResume--job3 {
  grid-area: job3ResumeGrid; }

.main__jobResumeH2 {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 95%; }

.main__resumeTasks ul {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__studiesResume {
  display: grid;
  grid-area: studiesGrid;
  grid-template-areas: "h1StudiesGrid h1StudiesGrid" "study1Grid study2Grid";
  grid-template-columns: 40vw 40vw;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-column-gap: 15vw;
  grid-row-gap: 0px; }
  .main__studiesResume li {
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%; }
  .main__studiesResume h1 {
    grid-area: h1StudiesGrid; }

.main__studyResume--study1 {
  grid-area: study1Grid; }

.main__studyResume--study2 {
  grid-area: study2Grid; }

.main__skillsResume {
  display: grid;
  grid-area: skillsGrid;
  grid-template-areas: "h1SkillsGrid h1SkillsGrid" "skills1Grid skills2Grid";
  grid-template-columns: 30vw 30vw;
  align-content: center;
  justify-content: center;
  grid-column-gap: 25vw;
  grid-row-gap: 0px; }
  .main__skillsResume li {
    list-style: url(../images/star.png);
    list-style-position: inside;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 3.3vw; }
  .main__skillsResume h1 {
    grid-area: h1SkillsGrid; }

.main__skillResume {
  background: radial-gradient(rgba(39, 38, 41, 0.8) 20%, rgba(39, 38, 41, 0.7) 40%, rgba(39, 38, 41, 0.5) 60%, rgba(39, 38, 41, 0.3) 80%); }

.main__skillResume--skill1 {
  grid-area: skills1Grid; }

.main__skillResume--skill2 {
  grid-area: skills2Grid; }

/*Fin del Resume grid*/
/*Formato de Texto Generico*/
h1 {
  font-family: "Post No Bills Colombo Bold";
  font-style: normal;
  font-size: 4vw;
  text-decoration: underline;
  margin-bottom: 15px; }

h2 {
  font-size: 3vw;
  margin-bottom: 10px;
  text-decoration: underline; }

.text20 {
  font-size: 3vw; }

.noDecoration {
  text-decoration: none; }

@media only screen and (min-width: 768px) {
  /* Menu Superior*/
  header nav {
    width: 58.33333vw; }
  header nav ul li a {
    font-size: 30px; }
  /* logo*/
  .headerFooter__logo img {
    width: 140px; }
    .headerFooter__logo img:hover {
      transform: none; }
  /* Logos de contactos*/
  .headerFooter__contactLogos {
    width: 120px;
    margin-right: 0px; }
    .headerFooter__contactLogos li a img {
      width: 40px; }
  .headerFooter__contactLogos:hover {
    transform: none; }
  /*Footer*/
  footer p {
    font-size: 20px; }
  /*About Main*/
  .main__about section {
    width: 75vw; }
  .main__about div {
    font-size: 18px; }
  /*Formulario Contact*/
  .main__formulario textarea {
    width: 75%;
    font-size: 20px; }
  .main__formulario select {
    width: 60px;
    font-size: 20px; }
  input {
    font-size: 20px; }
  /* Aca comienza el Grid para la pagina Resume*/
  .main__personalInfoResume table {
    width: 75vw; }
  .main__jobExperienceResume {
    grid-template-columns: 25vw 25vw 25vw;
    grid-column-gap: 7vw; }
    .main__jobExperienceResume li li {
      font-size: 20px; }
  .main__studiesResume {
    grid-template-columns: 30vw 30vw;
    grid-column-gap: 20vw; }
  .main__skillResume {
    grid-column-gap: 20vw; }
    .main__skillResume li {
      font-size: 25px; }
  /*Fin del Grid Resume*/
  /*Formato Generico*/
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 25px; }
  .text20 {
    font-size: 20px; } }

@media only screen and (min-width: 1200px) {
  /* Menu Superior*/
  header nav {
    width: 50vw; }
    header nav ul li a {
      font-size: 35px; }
  .headerFooter__logo img {
    width: 170px; }
  /* Logos de contactos*/
  .headerFooter__contactLogos {
    width: 150px; }
    .headerFooter__contactLogos li a img {
      width: 50px; }
  /*About Main*/
  .main__about section {
    width: 50vw; }
  /*Formulario Contact*/
  .main__formulario textarea {
    width: 60%; }
  /* Aca comienza el Grid para la pagina Resume*/
  .main__personalInfoResume table {
    width: 60vw;
    font-size: 20px; }
  .main__skillsResume {
    grid-template-columns: 20vw 20vw;
    grid-column-gap: 30vw; }
  /*Fin del Grid Resume*/ }
